header {
  background-color: #ffc3bc;
  padding: 5px 10px;
  margin-top: 30px;
  border-radius: 10px;
  width: 70%;
}

form {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}

h1 {
  color: #264e70;
  text-align: center;
  margin: 5px;
  font-weight: bold;
  font-size: 25px;
}

h2 {
  color: #ff9b90;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0px;
}

footer {
  width: 70%;
  margin-top: 15px;
  text-align: center;
  font-size: 11px;
}
.main-content {
  position: relative;
  left: 25%;
}
.search-bar {
  height: 32px;
  width: 450px;
  padding-left: 10px;
}
.search-button {
  background-color: #679186;
  color: #fff8ef;
  font-weight: bold;
  border: 0px #679186;
  border-radius: 5px;
  height: 32px;
  width: 120px;
  margin-left: 12px;
}

.current-forecast {
  background-color: #fff8ef;
  border-radius: 20px;
  box-shadow: 0px 30px 50px rgb (65, 50, 100, 0.3);
  width: 70%;
  margin-top: 15px;
  padding: 5px 10px;
}

.current-temp {
  font-size: 64px;
  padding-left: 60px;
}

.measurement {
  font-size: 45px;
  text-align: top;
}

.current-city {
  color: #264e70;
  font-size: 32px;
  font-weight: bold;
  text-align: right;
  padding-left: 160%;
}

.future-forecast {
  background-color: #fff8ef;
  border-radius: 20px;
  box-shadow: 2px 5px 5px rgb (0, 0, 0, 0.3);
  width: 70%;
  margin-top: 15px;
  padding: 5px 10px;
}

body {
  font-family: "Inria Sans", sans-serif;
  background: #f5f5f5;
}
