header {
  background-color: #ffc3bc;
  padding: 05px 20px 20px 20px;
  margin: 30px 20px;
  border-radius: 10px;
}

h1 {
  color: #264e70;
  text-align: center;
  padding: 0px 20px;
  margin-top: 03px;
  font-weight: bold;
  font-size: 25px;
}

.search-button {
  background-color: #679186;
  color: #fff8ef;
  border-radius: 5px;
}

.current-forecast {
  background-color: #fff8ef;
  border-radius: 20px;
}
.future-forecast {
  background-color: #fff8ef;
  border-radius: 20px;
}

body {
  font-family: "Inria Sans", sans-serif;
}
