header {
  background-color: #ffc3bc;
  padding: 5px 10px;
  margin-top: 30px;
  border-radius: 10px;
  width: 600px;
}

form {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}
main {
  width: 600px;
  margin-top: 15px;
  padding: 5px 10px;
}

h1 {
  color: #264e70;
  text-align: center;
  margin: 5px;
  font-weight: bold;
  font-size: 25px;
}

h2 {
  color: #ff9b90;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0px;
}
p {
  color: #264e70;
  font-size: 12px;
  margin-top: 5px;
}

a {
  color: #679186;
}
a:hover {
  transition: all 200ms ease-in-out;
  color: #ff9b90;
}
a:visited {
  color: #ff9b90;
}

footer {
  width: 600px;
  margin-top: 15px;
  text-align: center;
  font-size: 11px;
}
.main-content {
  position: absolute;
  left: 30%;
}
.search-bar {
  height: 32px;
  width: 450px;
  padding-left: 10px;
}
.search-button {
  background-color: #679186;
  color: #fff8ef;
  font-weight: bold;
  border: 0px #679186;
  border-radius: 5px;
  height: 32px;
  width: 120px;
  margin-left: 12px;
}

.search-button:hover {
  transition: all 200ms ease-in-out;
  opacity: 80%;
}

.current-forecast {
  background-color: #fff8ef;
  border-radius: 20px;
  box-shadow: 0px 30px 50px rgb (65, 50, 100, 0.3);
}
.current-conditions {
  padding-left: 40px;
}
.current-temp-icon {
  font-size: 40px;
  position: relative;
  top: -8px;
}
.current-temp {
  font-size: 64px;
  padding-left: 0px;
}

.humidity-wind {
  padding-left: 50px;
  margin-bottom: 0px;
  position: relative;
  top: -10px;
}

.measurement {
  font-size: 45px;
  position: relative;
  top: -5px;
}

.current-city {
  color: #264e70;
  font-size: 40px;
  font-weight: bold;
  text-align: right;
  padding-left: 210px;
  position: relative;
  bottom: -10px;
}

.condition-date-time {
  text-align: right;
  padding-left: 210px;
  position: relative;
  top: -10px;
}

.unit-select {
  padding-top: 0px;
  padding-left: 55px;
  position: relative;
  top: -10px;
}
.future-forecast {
  background-color: #fff8ef;
  border-radius: 20px;
  box-shadow: 2px 5px 5px rgb (0, 0, 0, 0.3);
}

.seven-day-forecast {
  text-align: left;
}

body {
  font-family: "Inria Sans", sans-serif;
  background: #f5f5f5;
}
